@import 'reset';
@import 'vars';
@import 'animations/animations';
@import 'container/container';

@import 'go-japan/go-japan';
@import 'header/header';
@import 'filter/filter';
@import 'drag-slider/drag-slider';
@import 'hotel/hotel';
@import 'footer/footer';

//BOX-SIZING SETTINGS
html {
	box-sizing: border-box;
	font-family: Helvetica;
	overflow-y: scroll;
}

*, *:before, *:after {
	box-sizing: inherit;
}

//TEMPLATE IE FALLBACK
template {
	display: none;
}

.hidden {
	display: none;
}